[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.26.0"
pipenv = "~=2021.5.29"
pandas = "~=1.3.3"
pyyaml = "~=5.4.1"
selenium = "~=3.141.0"

[dev-packages]

[requires]
python_version = "3.8"
